{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}

    {{ super() }}
    <title>
        {% block title %}App Tareas | Signup{% endblock title %}
    </title>
    <link rel="stylesheet", href="{{ url_for('static', filename='css/signup.css') }}"> 

{% endblock head %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true)  %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismiss">
                <button type="button" 
                        data-dismiss="alert"
                        class="close">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    <div class="col-lg-6" id="label">

        <div>
            <h3>Crear una nueva cuenta</h3>
        </div>
        {{ wtf.form_field(signup_form.username, class="form-control", 
            placeholder='Nombre de usuario')}}
        {{ wtf.form_field(signup_form.password, class="form-control",
            placeholder='Contraseña') }}
        {{ wtf.form_field(signup_form.submit)}}
        <br><br>
        ¿Ya tiene un usuario? 
        <br>
        <a href="{{ url_for('auth.login') }}" 
            class="btn d-inline-block btn btn-primary">
            Ingresar a mi cuenta
        </a>

    </div>

{% endblock content %}